data
development/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Environments and secrets
.env
.envrc
.venv

# Type checkers and linters
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
